// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-image: url('/img/terrazzo-fade.jpg');
  height: 100vh;
  width: 100%;
  background-repeat: repeat-y;
  background-size: cover;
}

/**
 * Basic styles for links
 */

a {
  text-decoration: none;
  color: blue;
  &:hover {
    text-decoration: none;
    color: red;
  }
  h1 {
    text-decoration: none;
    color: red;
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
}

.thumbnail {
  width: 400px;
  height: 300px;
  background-size: cover;
  display: block;
  margin-top: 10px;
}

.lg-image {
  width: 800px;
}

p {
  display: inline;
}

.product {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 35px 60px;
  p {
    width: 400px;
    text-align: justify;
  }
}

.product-page {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p {
    width: 800px;
    margin-top: 25px;
    text-align: justify;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 70vw;
  flex-wrap: wrap;
  margin: auto;
}

.product-title {
  display: flex;
  align-items: baseline;
  width: 400px;
}

.product-page-title {
  font-size: 1.3em;
  font-weight: bold;
  i {
    font-size: .9em;
    font-weight: normal;
    font-style: normal;
  }
}

.total-zone {
  text-align: right;
}

.form-style {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  width: 580px;
  font-family: 'Inconsolata';
  text-transform: uppercase;
  letter-spacing: 0.1em;
  input {
    width: 580px;
    border: 1px solid #e0e0e0;
    margin-bottom: 20px;
    height: 2em;
    font-size: 1em;
    letter-spacing: normal;
  }
  #title {
    font-family: 'Inconsolata';
    font-weight: normal;
    letter-spacing: normal;
    font-size: 1em;
    height: 2em;
    text-align: left;
  }
  button {
    margin-top: 3em;
    align-self: center;
  }
}

textarea {
  width: 580px;
  font-family: 'Inconsolata';
  border: 1px solid #e0e0e0;
  height: 9em;
}

label {
  margin-bottom: 15px;
}

.divider {
  height: 1px;
  background: blue;
  width: 200px;
  margin: auto;
}

.total-zone {
  background: white;
  border: 1px solid #e0e0e0;
  min-height: 500px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  margin-bottom: 100px;
  h3 {
    font-family: 'Inconsolata';
    text-align: center;
    text-transform: uppercase;
  }
  p {
    line-height: 4em;
  }
}
