// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */

a {
  text-decoration: none;
  color: red;
  &:hover {
    text-decoration: none;
    color: blue;
  }
}

.thumbnail {
  width: 400px;
  display: block;
  margin-top: 10px;
}

.lg-image {
  width: 800px;
}

p {
  display: inline;
}

.product {
  width: 33.3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p {
    width: 400px;
    text-align: justify;
  }
}

.product-page {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p {
    width: 800px;
    margin-top: 25px;
    text-align: justify;
  }
}

.container {
  display: flex;
  justify-content: space-around;
}

.product-title {
  display: flex;
  align-items: baseline;
  width: 400px;
}

.product-page-title {
  font-size: 1.3em;
  font-weight: bold;
  i {
    font-size: .9em;
    font-weight: normal;
    font-style: normal;
  }
}
