/**
 * Basic typography style for copy text
 */

#title {
  text-align: center;
  font-size: 7em;
  letter-spacing: -.16em;
  font-family: 'Montserrat', sans-serif;
}

.product-name {
  font-family: 'Inconsolata';
  font-weight: 700;
  letter-spacing: .05em;
  font-size: 1.2em;
}

p {
  font-family: 'Inconsolata';
  line-height: 1.3em;
}
