// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

button {
  background: blue;
  border: none;
  margin-left: 5px;
  margin-top: 15px;
  border-bottom: 4px solid lighten(blue, 20%);
  color: white;
  width: 115px;
  height: 37px;
  text-transform: uppercase;
  font-family: 'Inconsolata';
  font-weight: 700;
  letter-spacing: .1em;
  font-size: .8em;
  outline: none;
  &:hover {
    background: red;
    border-bottom: 4px solid lighten(red, 20%);
  }
}

.remove-button {
  width: 80px;
}


.buttons {
  margin-bottom: 100px;
  display: flex;
  align-items: baseline;
  width: 350px;
  justify-content: space-around;
}
