<div class="total-zone">
  <h3>Your cart:</h3>
  {{#each shoppingCart.products as |product|}}
    <p>{{product.title}}, {{product.artist}} - ${{comma-adder product.price}}</p>
    <div class="divider"></div>
{{/each}}
  <p class="total">Total: <b>${{comma-adder shoppingCart.cartTotal}}</b></p>
</div>
