{{#link-to 'index'}}<h1 id="title">MoSK</h1>{{/link-to}}

<nav>
  {{#link-to 'store'}}<i class="fa fa-picture-o"><br><b>View All</b></i>{{/link-to}}

  {{#link-to 'cart'}}<i class="fa fa-credit-card"><br><b>Cart</b></i>{{/link-to}}
</nav>

<div class="sell-item">
  {{#link-to 'sell-item'}}<i class="fa fa-plus"><br><b>Sell</b></i>{{/link-to}}
</div>

<div class="wrapper">
{{outlet}}
</div>
